.header {
    height: 800px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
img{
    margin: 100px;
width: 30%;
height: 35%;
}